# Senhas e Variáveis de Ambiente (CRÍTICO)
.env

# Lixo do Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.db

# Lixo do Node.js / React
node_modules/
dist/
npm-debug.log

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db