fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg          
alembic           
python-multipart
pydantic-settings
bcrypt
pydantic[email]
z3-solver
reportlab
pytest
# pyjwt            # <- (Opcional/A definir) Adicione a lib de JWT de sua escolha